 img{
  border-radius: 50%;
}

div.align {
  display: flex;
  align-items: center;
}


p {
  font-size: 12px;
  display: flex;
  align-items: center;
}


h1 {
text-align: center;
}

h2 {
  text-align: left;
  }


img {
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn::after {
  content: "\25BE";
  display: inline-block;
  margin-left: 5px;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  border: 1px solid #ddd;
  z-index: 1;
  top: 100%; 
}

.dropdown-content1 a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropbtn1::after {
  content: "\25BE";
  display: inline-block;
  margin-left: 5px;
}

.altMilk {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}
